/* reset and fonts */
@font-face {
    font-family: "archivo black";
    src: url(./fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body {
    width: 100%;
    font-family: "archivo black",sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

/* ====================================================================================== */

/* START */

/* Container and reusable elements */
#container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section {
    width: 100%;
    min-height: 100vh;
    padding-top: 140px;
    height: auto;
    background-color: #FC6736;
    color: #000000;
    display: flex;
    overflow: hidden;
}
.section:nth-of-type(2n+1) {
    background-color: #1c1c1c;
    color: #FC6736;
}

/* Section TEXT */
#title {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(48px + 5vw);
}
#title .back {font-size: clamp(52px, calc(20px + 7vw), 152px);position: absolute;z-index: 1;}
#title .middle {font-size: clamp(28px, calc(20px + 2vw), 60px);position: absolute;z-index: 2; color: #fff;}

/* columns */
#col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    line-height: 1.3;
}
#col:nth-of-type(1) {
    margin-bottom: 24px;
}
#col:nth-of-type(2) {
    margin-bottom: 100px;
}
/* ====================================================================================== */
/* navBar */

#navbar {
    /* sizing */
    width: 90%;
    height: 100px;
    /* positioning */
    align-self: center;
    position: fixed;
    z-index: 100;
    top: 20px;
    /* appereance */
    background-color: #000000;
    color: #ffff;
    border-radius: 50px;
    padding: 10px;
    /* order */
    display: flex;
    justify-content: space-between;
}

/* navbar pfp */
#pfp {
    align-self: center;
}
#pfp img {
    height: 80px;
    border-radius: 50%;
}

/* sections */
#sections {
    /* sizing */
    flex:1;
    /* appearance */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: clamp(16px, calc(16px + 1vw), 30px);
}
#sections a {
    color: #ffff;
    transition: all .2s ease-in-out;
}
#sections a:hover,#sections a:focus {
    color: #FC6736;
}
/* class for JS Navbar animation */
.selected {
    border-bottom: 2px solid #FC6736;
    padding-bottom: 3px;
}
/* ====================================================================== */

/* Home */
#home {
    justify-content: space-between;
}
/* Home text */
#hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}
#hero p:first-child {font-size: clamp(36px, calc(20px + 2vw),86px);}
#hero p:nth-child(2) {font-size: clamp(48px, calc(20px + 5vw), 100px); color: #ffff;}
#hero p:nth-child(3) {font-size: clamp(32px, calc(20px + 3vw), 60px);}
#hero p:nth-child(4) {font-size: clamp(20px, calc(20px + 2vw), 40px); color: #ffff;}

/* CV BUTTON */
#cv-btn {
    font-size: clamp(20px, calc(20px + 1vw),36px);
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px 25px;
    border: 5px solid #1c1c1c;
    border-radius: 50px;
    margin-top: 20px;

}
#cv-btn:hover {color: #FC6736; background-color: #fff;}

/* HomeImg */
#heroImg {
    height: calc(100vh - 200px);
    width: 50%;
    background-color: #000000;
    border-radius: 50% 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#popup {font-size: clamp(72px, calc(48px + 7vw), 200px); color: #ffff;}
#heroImg .top {position: absolute; z-index: 2; color: transparent !important; -webkit-text-stroke:#FC6736 2px;}
#heroImg img {
    position: absolute;
    width: 100%;
    border-radius: 50%;
    z-index: 1;
}
/* ====================================================================================================================== */

/* About section */
#about {
    display: flex;
    flex-direction: column;
}

#info {
    flex:1;
    display: flex;
    padding-top: 48px;
}
.bio {
    flex: 2;
    padding: 15px;
    line-height: 1.2;

}
.bio .name {
    font-size:clamp(26px, calc(16px + 3vw),80px);
    margin-bottom: 24px;
    color: #fff;
}
.bio .intro {
    color: #fff;
    font-size: clamp(24px, calc(20px + 1vw),36px);
    max-width: 52ch;
}
.preif {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
}
.preif p {
    width: 100%;
    font-size: clamp(20px, calc(14px + 1vw),36px);
    padding: 1vw 0;
}
.preif p:not(:last-child) {
    border-bottom: #fff 3px solid;
}
.preif p:nth-child(2) a{font-size: clamp(16px, calc(6px + 1vw),36px);}
.preif p:nth-child(2) a:hover{border-bottom: #FC6736 3px solid;color: #9CA3AF !important;}

#info #cv-btn {
    width: auto;
    padding: 5px 20px;
    align-self: center;
    background-color: #FC6736;
    color: #1c1c1c; 
    text-align: center;
    border-color: #FC6736;
    margin-bottom: 48px;
}
#info #cv-btn:hover {background-color: #fff; color: #FC6736;}
/* ============================================================================================================== */

/* skills/projects section */
#projects {
    flex-direction: column;
}

/* Skills section */
#myskills {
    flex: 1;
    display: flex;
}
#skill {
    width: 90%;
}
#skillname {
    display: flex;
    justify-content: space-between;
}
#skillprogress {
    width: 100%;
    accent-color: #1c1c1c;
}

/* projects section */

#myprojects {
    flex: 1;
    display: flex;
}
#project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#projectImg {
    width: 90%;
}
#projectImg img{
    width: 100%;
    border-radius: 30px;
    border: 5px solid #1c1c1c;
}
#filter {
    border-radius: 30px;
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 100%;
    background-color: #1c1c1c;
    opacity: .7;
    transition: all 0.5s ease-in-out;
}
#hidden {
    color: #FC6736;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 2;
    text-align: center;
    transition: all 0.5s ease-in-out;

}
#hidden > p:first-of-type {font-size: clamp(20px, calc(10px + 1vw), 30px);}
#hidden > p:last-of-type {font-size: clamp(20px, calc(10px + 1vw), 30px);}
#hidden > a {color: #fff; font-size: clamp(20px, calc(10px + 1vw), 30px);}
#hidden > a:hover {border-bottom: 3px solid #FC6736;}
#langs {
    display: flex;
    justify-content: start;
}
#langs p {
    transition: all .25s ease-in-out;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
    font-size: clamp(20px, calc(10px + 1vw), 30px);
}
#langs p:not(:last-child){
    margin-right: 10px;
}
#html:hover {background-color: #FC6736;color: #1c1c1c;}
#css:hover {background-color: #2965f1;color: #1c1c1c;}
#js:hover {background-color: #f0db4f;color: #1c1c1c;}

.hide {
    opacity: 0 !important;
}
/* ====================================================================================== */

/* CONTACT section */
#contact {
    flex-direction: column;
}
#contactinfo {
    flex: 1;
    display: flex;
}
#socials {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-right: 5px solid #FC6736;
    padding: 48px;
    line-height: 1.8;
    gap: 24px;
}
#socials p {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 16px;
    font-size: clamp(16px, calc(6px + 1vw),36px);
}
#socials div {display:flex; gap: 24px;}
#socials svg {
    width: clamp(40px, calc(10px + 5vw),50px);
    height: clamp(40px, calc(10px + 5vw),50px);
    transition: all 0.4s ease-in-out;
}
#socials div svg {fill: #fff;}
/* social hover */
#socials svg:hover { transform: scale(1.2);}
#linkedin:hover {fill: #0077B5;}
#facebook:hover {fill: #1877F2 ;}
#github:hover {fill: #FC6736;}
#socials h1 {transition: all 0.3s ease-in-out; font-size: 48px;}
#socials h1:hover {color: #FC6736;border-bottom: 3px solid #FC6736; transform: scale(1.1);}
#form {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 24px;
}
#form div {display: flex;gap: 16px;}
#form div input {
    font-family: "archivo black",sans-serif;
    padding: 16px;
    font-size: 18px;
    outline: none;
    border-radius: 6px;
    flex: 1;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px #FC6736;
}
#form div input:focus,input:hover {
    transform: scale(1.01); 
    order: 2px solid #FC6736;
}
textarea {
    min-height: 200px; 
    border-radius: 6px; 
    padding: 16px; 
    resize: vertical;
    font-family: "archivo black",sans-serif; 
    font-size: 18px; 
    outline: none;
    box-shadow: 0 0 20px #FC6736;
    transition: all 0.3s ease-in-out;
}
textarea:hover, textarea:focus {
    transform: scale(1.01); 
    border: 2px solid #FC6736;
}
input[type="submit"] {
    background-color: #FC6736; 
    width: 20%; 
    margin: 0 auto; 
    padding: 20px 30px; 
    border-radius: 30px;
    font-family: "archivo black",sans-serif;
    font-size: clamp(16px, calc(6px + 1vw),36px);
    box-shadow: 0 0 20px #FC6736;
}
/* ====================================================================================== */

/* Media Queries */
@media (max-width: 768px) {
    /* home section */
    #home{
        flex-direction: column;
    }
    #hero {
        width: 100%;
    }
    #heroImg {
        border-radius: 50% 50% 0 0;
        height: 40vh;
        width: 100%;
        justify-content: center;
    }

    /* about section */
    #info {flex-direction: column;}

    /* projects */
    #myprojects {flex-direction: column;}

    /* contact */
    #contactinfo {flex-direction: column;}
    #socials {border-right: none; border-bottom: 5px solid #FC6736; padding: 48px 0px;}

    #form div {flex-direction: column;}
    input[type="submit"] {width: 50%;}
}
@media (max-width:600px) {
    #myskills {flex-direction: column;}
    #form {padding: 48px 16px;}
    
}